
{% macro status_icon(state) %}
    {% if state is containing ("Archived") %}
        <span title="Archiviert">🗄️</span>
        {% if state.Archived is containing ("Funded") %}
            <span title="Ausgezahlt">✅ {{state.Archived.Funded}}€</span> 
        {% elif state.Archived == "Retracted" %}
            <span title="Zurückgezogen">📤</span>    
        {% elif state.Archived == "Rejected" %}
            <span title="Abgelehnt">🚫</span>
        {% elif state.Archived == "Failed" %}
            <span title="Abgelehnt">❌</span>
        {% endif %}
    {% elif state is containing ("Pending") %}
        <span title="pending">📨</span>
    {% elif state is containing ("Accepted") %}
        <span title="accepted">✔️</span>
    {% elif state is containing ("Paid") %}
        <span title="paid">💸✔️</span>
    {% elif state == "Draft" %}
        <span title="draft">⚪</span>
    {% elif state == "Incoming" %}
        <span title="incoming">🔵</span>
    {% elif state == "Checking" %}
        <span title="checking">🟠</span>
    {% elif state == "Board" %}
        <span title="board">🟡</span>
    {% else %}
        🤷 {{state}}
    {% endif %}
{% endmacro %}

{% macro status_short(state) %}
    {% if state is containing ("Archived") %}
        archived
    {% elif state is containing ("Pending") %}
        pending
    {% elif state is containing ("Accepted") %}
        accepted
    {% elif state is containing ("Paid") %}
        paid
    {% elif state == "Draft" %}
        draft
    {% elif state == "Incoming" %}
        incoming
    {% elif state == "Checking" %}
        checking
    {% elif state == "Board" %}
        board
    {% else %}
        unknown
    {% endif %}
{% endmacro %}

{% macro link_to(id, item) %}
{% if item is containing("AktivistiGrant") %}
    {% set entry = item.AktivistiGrant %}
    {% set icon = "💪" %}
{% elif item is containing("EventGrant") %}
    {% set entry = item.EventGrant %}
    {% set icon = "📆" %}
{% endif %}
<a data-grant-id="{{id}}" href="/v/{{id}}">{{icon}} '{{entry.title}}'' über {{entry.details.grant_info.amount}}€</a>
{% endmacro %}

   
{% macro extra_details(info) %}
    {% if info.comment %}
        <h3>Kommentar</h3>
        <p>{{info.comment}}</p>
    {% endif %}
        <ul>
            <li>{% if info.accepted_coc %}✅{% else %}❌{% endif %} Verhaltenskodex akzeptiert</li>
            <li>{% if info.accepted_privacy %}✅{% else %}❌{% endif %} Datenschutzerklärung akzeptiert</li>
            <li>{% if info.newsletter_fund %}✅{% else %}❌{% endif %} Radikal*Fund Newsletter </li>
            <li>{% if info.newsletter_monthly %}✅{% else %}❌{% endif %} Monatlicher Newsletter </li>
        </ul>
{% endmacro %}

{% macro render_history(activities) %} 
    {% for a in activities %}
        <li>
            <span class="date">
                {{a.when | date(format="%d.%m.%Y")}}
            </span>
                {{self::status_icon(state=a.from)}} ⏩ {{self::status_icon(state=a.to)}} {{a.by}}
                {% if a.comment %}
                    <blockquote>{{a.comment}}</blockquote>
                {% endif %}
        </li>
    {% endfor %}
{% endmacro %}


{% macro grant_status(process, uuid) %}
    <ul class="grant-status">
        <li data-grant-state="{{self::status_short(state=process.state)}}">Status: {{self::status_icon(state=process.state)}} </li>
        <li>Kennung: {{process.title}} ({{uuid}})</li>
        <li>Eingegangen: {{process.created | date(format="%d. %B %Y")}}</li>
        <li>Aktualisiert: {{process.last_updated | date(format="%d. %B %Y")}}</li>
    </ul>
{% endmacro %}
   
{% macro grant_details(info, process) %}
    <h3>Antrag '{{process.title}}' über {{info.amount}}€ </h3>
    <p>{{info.cost_breakdown}}</p>
    {% if process.state is containing("Pending") %}
        <div class="message warning">
            <strong>Bitte Email bestätigen</strong>
            <p>Eine E-Mail mit verifikations-link wurde an die angegebene E-Mail-Adresse gesandt. Bitte bestätige die E-Mail-Adresse indem du den dort angegebenen Link klickst – vorher wird der Antrag nicht bearbeiet werden. Bitte prüfe auch das Spam-Postfach. <em>Bei Problemen melde dich bitte bei <a href="mailto:admin@radikal.jetzt">admin@radikal.jetzt</a>.</p>
        </div>
    {% endif %}
{% endmacro %}

{% macro person_details(info, ids) %}
    <h3>{{info.name}} (<a href="mailto:{{info.email}}">{{info.email}}</a>)</h3>
    <p>{{info.about_me}}</p>
    {% if info.online_personas %}
        <p>{{info.online_personas}}</p>
    {% endif %}
    {% if ids %}
        <h4>Identifiziert als</h4>
        <ul>{% for i in ids %}
            <li>{{i}}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro event_details(info) %}
    <h3>{{info.name}}</h3>
    <span>{{info.organiser}}</span>
    <p>{{info.description}}</p>
    <p>{{info.url}}<p>
    <hr />
    <p>{{info.why}}<p>
{% endmacro %}

{% macro next_step(process, quota_state) %}
    {% if not process.state is containing("Archived") %}
        {% if quota_state == "breaks_poc" %}
            <div data-quota-state="breaks_poc" class="message warning">
                <strong>Bricht die Nicht-Weiß Quote</strong>
                <p>Dieser Antrag sollte zurück gehalten werden, bis die Quote wieder erreicht ist.</p>
            </div>
        {% elif quota_state == "breaks_women" %}
            <div data-quota-state="breaks_women" class="message warning">
                <strong>Bricht die Nicht-Mann-Quote</strong>
                <p>Dieser Antrag sollte zurück gehalten werden, bis die Quote wieder erreicht ist.</p>
            </div>
        {% else %}
            <div data-quota-state="ok" class="message none">
                <strong>Quote: okay.</strong>
                <p>Dieser Antrag kann ohne Problem weiterbehandelt werden</p>
            </div>
        {% endif %}
        <form method="POST">
            <div class="row">
                <div class="column column-50">
                    <h4>Update</h4>
                </div>
                <div class="column column-50 text-right">
                    <label style="display: inline;" for="send_mail">
                        <input type="checkbox" id="send_mail" name="send_mail" checked /> 📨
                    </label>
                    <button type="submit" class="button button-option" title="Zurück gezogen" name="next" value="retracted">
                        📤
                    </button>
                    <button type="submit" class="button button-option" title="Ablehnen" name="next" value="rejected">
                        ✖️
                    </button>
                </div>
            </div>
            <textarea name="comment" placeholder="optionaler Kommentar"></textarea>
            <div class="text-right">
                {% if process.state == "Incoming" %}
                    <button type="submit" class="button" name="next" value="checking">
                        📥 Prüfung starten
                    </button>
                {% elif process.state == "Checking" %}
                    <button type="submit" class="button button-option" title="Ablehnen" name="next" value="rejected">
                        ✖
                    </button>
                    <button type="submit" class="button" name="next" value="board">
                        👥 Dem Board gegeben
                    </button>
                {% elif process.state == "Board" %}
                    <button type="submit" class="button button-option" title="Failed" name="next" value="failed">
                        ✖
                    </button>
                    <button type="submit" class="button" name="next" value="accepted">
                        💰 gefundet
                    </button>
                {% elif process.state is containing ("Accepted") %}
                    <button type="submit" class="button" name="next" value="paid">
                        💸 bezahlt
                    </button>
                {% elif process.state is containing ("Paid") %}
                    <button type="submit" class="button" name="next" value="archive">
                        🗄️ archivieren
                    </button>
                {% endif %}
            </div>
        </form>
    {% endif %}
{% endmacro %}

{% macro bank_details(info) %}
    <h3>Bank Details</h3>
    <div class="row">
        <div class="column colum-50">IBAN: {{info.iban}}</div>
        <div class="column colum-50">Name: {{info.account_name}}</div>
    </div>
    <div class="row">
        <div class="column colum-50">BIC: {{info.bic}}</div>
        <div class="column colum-50">Bank: {{info.bank_name}}</div>
    </div>
{% endmacro %}