Hallo,

wir schreiben Dir nur um die kurz zu bestätigen, dass Dein Radikal*Fund Grant Antrag bei uns eingangen ist. Um diesen Bearbeiten zu können, musst du uns erst noch die E-Mail-Adresse bestätigen. Dazu klicke auf den folgenden Link.

    {{uri | safe}}

Wir melden uns bald bei dir.
Love & Rage,
Radikal*Fund Team