<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Radikal*Fund" />
    <meta
      name="description"
      content=""
    />
    <title>Radikal*Fund {% block title %}{% endblock title %}</title>
    <link rel="icon" href="" />
    <link rel="stylesheet" href="/pub/css/roboto.css" />
    <link rel="stylesheet" href="/pub/css/normalize.css" />
    <link rel="stylesheet" href="/pub/css/milligram.css" />
    <link rel="stylesheet" href="/pub/css/main.css" />
  </head>
  <body>
    <main class="wrapper">
      <header class="header">
        <nav class="navigation">
          <section class="container">
          <div class="row">
            <div class="column column-75">
              <a class="navigation-title" href="/">Radikal*Fund Grants</a>
            </div>
            <div class="column column-25" style="text-align: right">
              {% if current_user %}
                <a href="/list">Admin</a>
              {% endif %}
              <a class="button button-black button-outline" href="https://radikal.jetzt/fund/">Über</a>
            </div>
          </div>
          </section>
        </nav>
      </header>

      <section class="container" id="content">
        {% if flash_message %}
          <div class="message {{flash_message.name}}">{{flash_message.msg}}</div>
        {% endif %}
        {% block content %}{% endblock content %}
      </section>

      <footer class="footer">
        <section class="container">
          <p>
            Ein Projekt von <a href="https://radikal.jetzt/">Radikal*</a>. 
              {% if current_user %}
                | <a href="/logout">Logout</a>
              {% else %}
                | <a href="/login">Login</a>
              {% endif %}
          </p>
        </section>
      </footer>
    </main>
  </body>
</html>
