{% extends "base" %}


{% block title %}
| Übersicht
{% endblock title %}

{% block content %}
<div class="row">
<div class="column column-50" style="padding: 10rem 0; text-align: center;">
<a class="button button-outline"  href="/event-grants/new">EventGrant beantragen</a>
</div>
<div class="column column-50" style="padding: 10rem 0; text-align: center;">
<a class="button button-outline" href="/aktivisti-grants/new">AktivistiGrant beantragen</a>
</div>
</div>
{% endblock content %}